{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Let me tell you about myself !</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/supri_script.js' %}"></script>
    
</head>
<body>
    <div class="container-fluid">
        {# <img src="{% static 'images/rumput.jpg' %}" class="img-fluid" style="position: fixed; left: 0; bottom: 0;" alt="Responsive image"> #}
        {# <img src="{% static 'images/doodle.png' %}" class="img-fluid justify-content-end float-right" style="width: 70%; height: 70%; position: absolute; top: 50%; left: 100%; transform: translate(-50%, -50%);"alt="Responsive image"> #}
        <div class="row">
            <div class="col intro left">
                <h1>We can live in a world that we design.</h1>
                <p class="text-muted">-Spread love everywhere you go-</p>
            </div>
        </div>

    </div>
</body>
</html>

{% endblock %}