{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/subscriber_form.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1 align="center">Subscribe Now !</h1>
        <form method="POST" action="#">
            <div id="alert"></div>
            {% csrf_token %}
            {{ form }}
            <button id="submit" disabled type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
    <div class="container">
        <table id="list_subscriber" class="table">
                <thead>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Keterangan</th>
                </thead>
        </table>
    </div>
</body>
</html>
{% endblock %}