{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <style type="text/css">
    .preloader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background-image: url('{% static "images/ajax-loader.gif" %}');
      background-repeat: no-repeat;
      background-color: #FFF;
      background-position: center;
    }
  </style>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="784532522847-tuuof7k448krcomd2vbutnpil0sljl35.apps.googleusercontent.com">
  <script>
    function onSignIn(googleUser) {
      var token = googleUser.getAuthResponse().id_token;
      $.ajax({
        method: "POST",
        url: "/library/authenticate",
        type: "json",
        data: {
          "token": token
        },
        success: function (result) {
          console.log("User signed in.");
          console.log(result.name)
        }
      })
    }

    function signOut() {
      gapi.load('auth2', function() {
        gapi.auth2.init().then( function() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then( function() {
            $.ajax({
              url: '/library/signing_out',
              success: function(result) {
                console.log("User signed out.")
                window.location.reload();
              }
            })
          })
        })
      })
    }
  </script>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand">Belajar Film</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/library">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subscribe">Subscribe</a>
        </li>
      </ul>
      <button type="button" id="theme" class="btn btn-light" onclick="theme()" aria-pressed="false" autocomplete="off">Change
        Theme</button>
    </div>
    {% if name %}
    <p style="padding-top: 15px; padding-right: 10px;">Selamat datang, {{ name }}</p>
    <button class="btn btn-danger" onclick="signOut()">Sign out</button>
    {% else %}
    <div style="margin-left: auto;">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    {% endif %}
  </nav>

  {% block content %}
  <div class="preloader"></div>
  {% endblock %}

  {# <div class="card-footer bg-dark fixed-bottom" style="height: 10rem;"> #}
    {# <div class="container-fluid"> #}
      {# <div class="row"> #}
        {# <div class="col"> #}
          {# </div> #}
        {# <div class="col"> #}

          {# </div> #}
        {# </div> #}
      {# </div> #}
    {# </div> #}
</body>

</html>